<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <section class="section">
    <div class="flex">
      <div class="category">
        <div class="black">
          <div class="para"> EV Mart Service Center</div>
        </div>
        <div class="maintain">
          <div class="vehicle">
            <div><p>Vehicle Maintanence<i class="fa-solid fa-chevron-right fa-beat"></i></p></div>
            <div><h5>Vehicle maintanence is important to reduce the accidents those are happening due to irregular maintanence</h5></div>
          </div>
          <div class="vehicle">
            <div><p>Battery Replacement<i class="fa-solid fa-chevron-right fa-beat"></i></p></div>
            <div><h5>If Battery charge does not statisfy as like given quotation.  Then you need to change the battery. </h5></div>
          </div>
          <div class="vehicle">
            <div><p>Vehicle Maintanence<i class="fa-solid fa-chevron-right fa-beat"></i></p></div>
            <div><h5>Vehicle maintanence is important to reduce the accidents those are happening due to irregular maintanence</h5></div>
          </div>
          <div class="vehicle">
            <div><p>Battery Replacement<i class="fa-solid fa-chevron-right fa-beat"></i></p></div>
            <div><h5>If Battery charge does not statisfy as like given quotation.  Then you need to change the battery. </h5></div>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>

