<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Information</title>
</head>
<body>
  <div class="main">
    <div>
      <h2>Go Electric</h2>
    </div>
    <div>
      
    </div>
  </div>
  <div class="heading">
    <h1>Discover everything you need to know about switching to electric vehicles</h1>
  </div>
  <div class="exploreev">
    <div class="mani">
      <img src="../../assets/EV mart/Benefits of EV.jpg" alt="Benefits" title="Benefits of EV">
      <div class="content">
        <h2>Benefits of Electric Vehicles <a routerLink="/Information/Benefits"><i class="fa-solid fa-circle-arrow-right"></i></a></h2>
        <p>Electric vehicles provide a range of benefits from environmental to economical over conventional vehicles. Here's everything you need to know about these benefits.</p>
        <a routerLink="/Information/Benefits">Read more</a>
      </div>
    </div>
    <div class="mani">
      <img src="../../assets/EV mart/Myth.jpg" alt="Myth of EV" title="Myth of EV">
      <div class="content">
        <h2>Busting Common Electric Vehicle Myths<a routerLink="/Information/myths"><i class="fa-solid fa-circle-arrow-right"></i></a></h2>
        <p>Myths lead to slower adoption of electric vehicles. Here's everything you need to know about these myths and the facts.</p>
        <a routerLink="/Information/myths">Read more</a>
      </div>
    </div>
    <div class="mani">
      <img src="../../assets/EV mart/EV_incentives.webp" alt="EV incentives" title="EV incentives">
      <div class="content">
        <h2>Electric Vehicle Incentives<a routerLink="/Information/EVIncentives"><i class="fa-solid fa-circle-arrow-right"></i></a></h2>
        <p>The government of India has taken crucial steps towards the faster adoption of electric vehicles in the country. Here's everything you need to know about the policies and incentives.</p>
        <a routerLink="/Information/EVIncentives">Read more</a>
      </div>
    </div>
    <div class="mani">
      <img src="../../assets/EV mart/typesofEV.jpg" alt="Types of EV" title="Types of EV">
      <div class="content">
        <h2>Types Of Electric Vehicles<a routerLink="/Information/TypesofEV"><i class="fa-solid fa-circle-arrow-right"></i></a></h2>
        <p>There are multiple types of electric vehicles offered in the market. Here's everything you need to know about these types of electric vehicles.</p>
        <a routerLink="/Information/TypesofEV">Read more</a>
      </div>
    </div>
  </div>
  <div class="foot">
  </div>
  <app-footer></app-footer>
</body>
