<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <div class="head"><h1>Orders placed</h1></div>
  <div class="main" *ngFor="let order of getOrder;let i=index;">
    <div class="img">
    <img src="{{order.varientimg}}" alt="">
  </div>
  <div class="details">
    <p class="varient">{{order.varientname}}</p>
    <p>Order ID - #{{order.orderid}}</p>
    <p>Color - {{order.varientcolor}}</p>
    <p>Price - Rs.{{order.price}}</p>
    <p>{{order.day}} , {{order.bookingdate}}</p>
    <p class="small">Still you have time to cancel the order:{{daysToDday}}:{{hoursToDday}}:{{minutesToDday}}:{{secondsToDday}} </p>
  </div>
  <div>
    <button class="book" *ngIf="cancel" (click)="cancelorder(this.i)">Cancel Order</button>
  </div>
  </div>
</body>
