<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <div class="head"><h1>Orders placed</h1></div>
  <div class="orderprofile" *ngIf="ordersEmpty">
    <div><img src="../../assets/EV mart/serviceempty.gif" alt="emptygif" title="Order(S) empty"></div>
    <div><p>No Order(S) to shown</p></div>
  </div>
  <div class="main" *ngFor="let order of getOrder;let i=index;" >
    <div class="pastordershown"><p>New Orders</p></div>
    <div *ngIf="ordersBooked" class="inside-showorder">
    <div class="img" >
    <img src="{{order.varientimg}}" alt="">
  </div>
  <div class="details">
    <p class="varient">{{order.varientname}}</p>
    <p>Order ID - #{{order.orderid}}</p>
    <p>Color - {{order.varientcolor}}</p>
    <p>Price - Rs.{{order.price}}</p>
    <p>{{order.day}} , {{order.bookingdate}}</p>
    <a>View Details</a>
  </div>
</div>
  <div>
    <button class="book" *ngIf="cancel" (click)="cancelorder(this.i)">Cancel Order</button>
  </div>
  </div>
  <div class="main" *ngFor="let pastorder of pastOrders;let i=index;" >
    <div class="pastordershown"><p>Past Orders</p></div>
    <div  class="inside-showorder" *ngIf="showPastOrders">
    <div class="img" >
    <img src="{{pastorder.varientimg}}" alt="">
  </div>
  <div class="details">
    <p class="varient">{{pastorder.varientname}}</p>
    <p>Order ID - #{{pastorder.orderid}}</p>
    <p>Color - {{pastorder.varientcolor}}</p>
    <p>Price - Rs.{{pastorder.price}}</p>
    <p>{{pastorder.day}} , {{pastorder.bookingdate}}</p>
  </div>
</div>
  </div>
</body>
