
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


*{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform:capitalize;
    transition: all .2s linear;
}

html{
    font-size: 60%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

.book{
  display: inline-block;
  border-radius:5rem;
  cursor: pointer;
  padding: 1rem 2rem;
  color:#130f40;
  background: #ffee80;
  font-weight: 500;
  font-size: 1.7rem;
  margin-right: 2rem;
}
.head{
  z-index: 1;
}
.head img{
  width: 250px;
  height: 100px;
  cursor: pointer;
}
.head a{
  text-decoration: none;
}
.background{
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 70%;
  background-color: rgba(6, 76, 240, 0.233);
  animation: formslide 0.5s linear;
  transition: transform 1000ms ease-in-out;
  transform-origin: top;
}
@keyframes formslide {
from{
  transform: scaleY(0);
}
to{
  transform: scaleY(1);
}
}
/*      signin               */
.section{
  padding: 1rem 2%;
}
.details-form{
  /* background: url("../../assets/EV mart/liquid-cheese.png"); */
  background-color: rgba(108, 122, 137,.2 );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
}
.details-form .form{
  width: 40%;
}
.details-form .form i{
  color: black;
  padding: 1.8rem;
  font-size: 2.5rem;
  background-color: #fff;
  margin-top: 2rem;
  border-radius: 50%;
  cursor: pointer;
}
.details-form .form p{
  font-size: 2rem;

}
label{
  margin-top: 1rem;
  font-size: 1.8rem;
  color: #130f40;
}
.details-form .form h2{
  font-size: 2.5rem;
  color: #130f40;
  text-transform: none;
  padding: 2rem;
}
.login-form form{
  padding: 2rem;
  margin: 20rem;
  border-radius: .5rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
  background: #fff;
  border: .1rem solid rgba(0,0,0,.1);
  text-align: center;
  width: 40rem;
}
.login-form form .buttons{
 display: flex;
 align-items: center;
 gap: 1rem;
}
.login-form .book{
  display: block;
  width: 100%;
  margin:.5rem 0;
}
.login-form form h3{
 color: #130f40;
 font-size: 2.5rem;
 padding-bottom:1rem;
 text-transform: uppercase;
}
.details-form .box{
  margin: .7rem 0;
  width: 100%;
  text-transform: none;
  color: #130f40;
  font-size: 1.6rem;
  padding: 1rem 1.2rem;
  border:.1rem solid rgba(0,0,0,.1);
  border-radius: .5rem;
  /* caret-color: lime; */
}
.details-form .note p b{
  font-family:'poppins', sans-serif;
  color: #130f40;
  padding-right: 0.5rem;
}
.details-form .note p{
  font-size: 1.3rem;
  text-transform: none;
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 0.5rem;
}
.details-form .contact{
  margin-top: 2rem;
}
.details-form .inputflex{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.details-form .inputflex .inputwidth{
  width: 50%;
}
.revieworder{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5rem;
  padding-top: 5rem;
}
.payment:disabled{
  border: 1px solid black;
  background-color: grey;
  color: white;
  cursor: not-allowed;
}
.revieworder img{
  width: 600px;
  height: 500px;
  margin: 2rem;
}
.revieworder .colourflex{
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem 1rem 1.5rem;
  background-color: #E5E4E2;
  border-bottom: 1px solid black;
  width: 500px;
}
.revieworder .colourflex1{
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem 1rem 1.5rem;
  background-color: #E5E4E2;
}
.revieworder .colourflex p{
  font-size: 1.7rem;
}
.revieworder .colourflex1 p{
  font-size: 1.7rem;
}
.revieworder .deliverycon p{
  font-size: 1.5rem;
  text-transform: none;
  color: black;
  width: 600px;
}
.delivery{
  padding-top: 2rem;
  display: flex;
  justify-content: left;
}
.delivery .timeline{
  float: left;
}
.payment{
  margin-top: 2rem;
  background-color: black;
  color: #fff;
  padding: 1rem 10rem 1rem 10rem;
  font-size: 1.8rem;
}
/* .vehiclecolor{

} */
.revieworder .displayDetails{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}
.redirectorder{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: #E5E4E2;
}
h3{
  text-transform: none;
  font-size: 4rem;
  font-weight: 100;
  color: #130f40;
}
p{
  font-size: 2rem;
  text-transform: none;
  color: black;
}
.flex{
  display: flex;
  flex-direction:column;
  gap: 1rem;
  align-items: center;
}
.redirectorder{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.redirectorder img{
  width: 150px;
  height: 150px;
}

.login-form form p{
  padding: 1rem 0;
  font-size: 1.5rem;
  color: #666;
}
.login-form form #close{
  font-size: 2rem;
  cursor: pointer;
  float: right;
}
.login-form form .link{
  color: #f9d806;
  padding-left: 0.3rem;
}
.login-form form .link:hover{
  color: #f9d806;
  text-decoration: underline;
}
small{
  color: red;
  font-size: 1.3rem;
}
input.ng-invalid.ng-touched{
  border: 2px solid red;
}
.regform .msg{
  background-color: rgba(254, 121, 104,0.3);
  font-size: 2rem;
}
.details-form .fill{
  display: flex;
  justify-content: center;
}

/* .ng-invalid:not(form){
  border-color: red;
} */
