<!-- 
Description:This component is used for review the order before making payment
Title:EV Mart
Author name: Jeeva Aravinth J V
Started on: 02-07-2023
Reviewed by: Nil
-->

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Book Appointment</title>
</head>

<body>
  <!-------------------- order address and contact details  ------------------------->
  <div class="section">
    <div class="head"><a><img src="../../assets/image/EV-removebg.png" alt=""></a></div>
    <div class="details-form">
      <form class="form" [formGroup]="reviewform" (ngSubmit)="reviewform.valid && fillDetails()">
        <div>
          <i class="fa-solid fa-arrow-left" (click)="notify()"></i>
        </div>
        <div class="fill">
          <h2>Fill in booking details</h2>
        </div>
        <div>
          <p>Select your Location</p>
        </div>
        <div>
          <select class="box" formControlName="State" #state (change)="stateselect(state.value)">
            <option value="" selected disabled>State</option>
            <option value="{{statelist.state}}" *ngFor="let statelist of stateListStore">{{statelist.state}}</option>
          </select>
          <small
            *ngIf="reviewform.controls['State'].errors?.['required'] && reviewform.controls['State'].touched">Please
            Select State</small>
        </div>
        <div>
          <select class="box" formControlName="City" #city (change)="cityselect(city.value)">
            <option value="" selected disabled>City</option>
            <option value="{{district.district}}" *ngFor="let district of districtStore;let i=index;">
              {{district.district}}</option>
          </select>
          <small *ngIf="reviewform.controls['City'].errors?.['required'] && reviewform.controls['City'].touched">Please
            Select City</small>
        </div>
        <div>
          <select class="box" formControlName="Centername" #centername (change)="evcentername(centername.value)">
            <option value="" selected disabled>Select EV Mart center</option>
            <option value="{{center.centername}}" *ngFor="let center of centerNameStore">{{center.centername}}</option>
          </select>
          <small
            *ngIf="reviewform.controls['Centername'].errors?.['required'] && reviewform.controls['Centername'].touched">Please
            Select EV Mart Center</small>
        </div>
        <div class="contact">
          <p>Contact details</p>
        </div>
        <div>
          <label>Email ID</label>
          <input type="email" placeholder="Email Address" class="box" formControlName="mail">
          <small *ngIf="reviewform.controls['mail'].errors?.['required'] && reviewform.controls['mail'].touched">We need
            your mail ID</small>
          <small *ngIf="reviewform.controls['mail'].errors?.['pattern']">Please provide valid mail ID</small>
        </div>
        <div class="note">
          <p><b>Note:</b>Your order will be linked to this email ID and you'll receive all your order related
            information on this email address. We recommend you to use your active personal email ID to avoid a case of
            order transfer in the future.</p>
        </div>
        <div class="inputflex">
          <div class="inputwidth">
            <label>Firstname</label>
            <input type="text" placeholder="First name" class="box" formControlName="firstname">
            <small
              *ngIf="reviewform.controls['firstname'].errors?.['required'] && reviewform.controls['firstname'].touched">We
              need your firstname</small>
            <small *ngIf="reviewform.controls['firstname'].errors?.['pattern']">Provide Proper firstname</small>
          </div>
          <div class="inputwidth">
            <label>Lastname</label>
            <input type="text" placeholder="Last name" class="box" formControlName="lastname">
            <small
              *ngIf="reviewform.controls['lastname'].errors?.['required'] && reviewform.controls['lastname'].touched">We
              need your lastname</small>
            <small *ngIf="reviewform.controls['lastname'].errors?.['pattern']">Provide Proper lastname</small>
          </div>
        </div>
        <div>
          <label>Phonenumber</label>
          <input type="tel" placeholder="Phone number" class="box" formControlName="phonenumber" maxlength="10">
          <small
            *ngIf="reviewform.controls['phonenumber'].errors?.['required'] && reviewform.controls['phonenumber'].touched">We
            need your phone number</small>
          <small *ngIf="reviewform.controls['phonenumber'].errors?.['pattern']">Provide valid phonenumber</small>
        </div>
        <div class="contact">
          <p>Enter your billing address</p>
        </div>
        <div>
          <label>Address</label>
          <input type="text" placeholder="Address" class="box" formControlName="address">
          <small
            *ngIf="reviewform.controls['address'].errors?.['required'] && reviewform.controls['address'].touched">We
            need your address</small>
          <small *ngIf="reviewform.controls['address'].errors?.['minlength']">Provide Proper address</small>
        </div>
        <div>
          <label>landmark</label>
          <input type="text" placeholder="Landmark" class="box" formControlName="landmark">
          <small
            *ngIf="reviewform.controls['landmark'].errors?.['required'] && reviewform.controls['landmark'].touched">We
            need your landmark</small>
          <small *ngIf="reviewform.controls['landmark'].errors?.['minlength']">Provide Proper landmark</small>
        </div>
        <div class="inputflex">
          <div class="inputwidth">
            <label>Pincode</label>
            <input type="tel" placeholder="Pin code" class="box" formControlName="pincode" maxlength="6">
            <small
              *ngIf="reviewform.controls['pincode'].errors?.['required'] && reviewform.controls['pincode'].touched">We
              need your pincode</small>
            <small *ngIf="reviewform.controls['pincode'].errors?.['pattern']">Provide Proper Pincode</small>
          </div>
          <div class="inputwidth">
            <label>Door/Flat No.</label>
            <input type="text" placeholder="Door/Flat No." class="box" formControlName="doorno">
            <small
              *ngIf="reviewform.controls['doorno'].errors?.['required'] && reviewform.controls['doorno'].touched">We
              need your door/flat No</small>
            <small *ngIf="reviewform.controls['doorno'].errors?.['pattern']">Provide Proper door/flat No.</small>
          </div>
        </div>
        <div class="revieworder">
          <div class="displayDetails">
            <div><img src="{{varientimage}}" alt="varientimage"></div>
            <div>
              <div class="colourflex">
                <div>
                  <p>Colour</p>
                </div>
                <div>
                  <p [style.color]="vehiclecolor">{{varientColor}}</p>
                </div>
              </div>
              <div class="colourflex">
                <div>
                  <p>Booking amount</p>
                </div>
                <div>
                  <p>Fully refundable &nbsp;Rs. {{Amount}}</p>
                </div>
              </div>
              <div class="colourflex">
                <div>
                  <p>Battery</p>
                </div>
                <div>
                  <p>{{battery}}</p>
                </div>
              </div>
              <div class="colourflex">
                <div>
                  <p>Range</p>
                </div>
                <div>
                  <p>{{range}}</p>
                </div>
              </div>
              <div class="colourflex">
                <div>
                  <p>Top speed</p>
                </div>
                <div>
                  <p>{{topspeed}}</p>
                </div>
              </div>
              <div class="colourflex1">
                <div>
                  <p>Price</p>
                </div>
                <div>
                  <p>Rs.{{price}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="delivery">
            <h2 class="timeline">Delivery Timeline of {{varientName}}</h2>
          </div>
          <div class="deliverycon">
            <p>Delivery time is dependent on stock and colour availability. Please reach out to your EV mart at
              7904925991 for more details.</p>
          </div>
          <div>
            <button class="payment" [disabled]="!reviewform.valid" (click)="fillDetails()">Pay now</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-------------------- order address and contact details  ------------------------->

</body>