<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<header class="header">
  <a routerLink="" class="logo"><img src="../../assets/image/EV-removebg.png" alt="EV Mart" class="Logo"
      title="Logo"></a>
  <nav class="navbar">
    <a routerLink="Product">Product</a>
    <a href="#">Information</a>
    <a href="#">Service</a>
    <a href="#">Contact</a>
    <a routerLink="offers">Offers</a>
  </nav>
  <a routerLink="login" class="btnlog"><button type="button" class="book" id="book">Login</button></a>
  <button type="button" class="book" id="book" *ngIf="btn">Logout</button>
</header>


