<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<header class="header">
  <a routerLink="" class="logo"><img src="../../assets/image/EV-removebg.png" alt="EV Mart" class="Logo"
      title="Logo"></a>
  <nav class="navbar">
    <a routerLink="Product">Product</a>
    <a href="#">Information</a>
    <a href="#">Service</a>
    <a href="#">Contact</a>
    <a routerLink="offers">Offers</a>
  </nav>
  <a routerLink="login" class="btnlog"><button type="button" class="book" id="book">Login</button></a>
  <button type="button" class="book" id="book" *ngIf="btn">Logout</button>
</header>

<!---------------- loginform ----------------------->

<!---------------- loginform ----------------------->

<!------------------ createaccountform ----------------------->

<!------------------ createaccountform ----------------------->

<!------------------ forgotform1 ------------------------>
<div class="background" *ngIf="forgot">
  <div class="login-form">
    <form [formGroup]="forgotform1" (ngSubmit)="forgotpassword()">
    <button class="fa-solid fa-circle-xmark fa-beat" id="close" (click)="forgotclose()"></button>
<h3>Recover Password</h3>
<div class="control">
        <input type="text" class="box" placeholder="Email" id="email" name="email" formControlName="forgotemail"><br><br>
        <small *ngIf="forgotform1.controls['forgotemail'].errors?.['required'] && forgotform1.controls['forgotemail'].dirty">Please enter email ID</small>
        <small *ngIf="forgotform1.controls['forgotemail'].errors?.['pattern']">Please provide email ID</small>
      </div>
      <div class="control">
        <input type="text" class="box" placeholder="Username" id="username" name="username" formControlName="forgotuser">
        <small *ngIf="forgotform1.controls['forgotuser'].errors?.['required'] && forgotform1.controls['forgotuser'].dirty">Please enter username</small>
        <small *ngIf="forgotform1.controls['forgotuser'].errors?.['pattern']">Provide proper username(Don't start with number)</small>
      </div>
        <button type="submit" class="book" (click)="forgotnewopen()">Submit</button>
      </form>
  </div>
</div>
<!------------------ forgotform1 ------------------------>

<!-------------------- forgotform2 ----------------------->
<div class="background" *ngIf="forgotnew">
  <div class="login-form">
    <form>
      <button class="fa-solid fa-circle-xmark fa-beat" id="close" (click)="forgotnewclose()"></button>
      <h3>Recover Password</h3>
        <input type="email"  class="box" id="email" name="email" >
        <input type="password" placeholder="New password" class="box" id="pass" name="pass">
        <small id="input2"></small>
        <input type="password" placeholder="Confirm password" class="box" id="confirmpass" name="confirmpass" >
        <small id="input3"></small><br>
        <button type="submit" class="book">Change Password</button>
    </form>
  </div>
</div>
<!-------------------- forgotform2 ----------------------->

