
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Offers</title>
</head>

<body>
  <section class="exchange">
    <div class="eximg">
      <img src="../../assets/EV mart/EV Mart exchange program.png" alt="Exchange program" title="Exchange program">
    </div>
  </section>
  <section class="comparison">
    <div class="grid">
      <div class="flex">
        <div><p>Why move to Electric Vehicles?</p></div>
        <div><h4>Your current petrol two-wheeler has a drinking problem, and you deserve better.</h4></div>
      </div>
      <div><img src="../../assets/EV mart/Leading Electric vehicle.png" alt="EV vs Petrol" title="EV vs Petrol"></div>
    </div>
  </section>
</body>
