@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
:host{
    --yellow:#f9d806;
    --light-yellow:#ffee80;
    --black:#130f40;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
}
*{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform:capitalize;
    transition: all .2s linear;
}
html{
  font-size: 60%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}
.book{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #ffee80;
    color:var(--black);
    font-weight: 500;
    font-size: 1.7rem;
    cursor: pointer;
    padding: 1rem 2rem;
}
.exchange{
  padding: 2rem 5%;
}
.exchange .eximg img{
  width: 100%;
    cursor: pointer;
}
.comparison{
  padding-top: 7rem;
  padding-bottom: 5rem;
}
.comparison .grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.comparison .grid p{
  font-weight: 700;
  font-size: 5rem;
  text-shadow: 1px 1px 1px #ffee80,1px 2px 1px #ffee80,
                1px 3px 1px #ffee80,1px 4px 1px #ffee80,
                1px 6px 6px rgba(16,16,16,0.4);
  text-transform: none;
}
.comparison .grid img{
  width: 500px;
  height: 500px;
}
.comparison .grid .flex{
  display: flex;
  flex-direction: column;
  gap: 5rem;
  flex-wrap: wrap;
  width: 30%;
}
.comparison .grid .flex h4{
  text-transform: none;
  font-size: 2rem;
  color: var(--black);
}
.slick-slider {
  width: 60%;
  margin: auto;
}
.slick-list{
  margin-left: -20px;
  margin-right: -20px;
}
.slick-dots li.slick-active button::before{
  color:#f9d806;
  font-size: 1.5rem;
}
.slick-dots li.slick-active button{
  width: 30px;
  height: 20px;
}
.slide{
  display: flex;
  flex-direction: row;
}
.slide img{
  width: 500px;
  height: 540px;
}
.slides{
  padding-left:22%;
  display: flex;
  align-items: center;
}
.slick-next.slick-arrow::before{
  display: none;
}
.slick-dots li button:before{
  width: 50px;
  height: 50px;
}
.row{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5rem;
  width: 900px;
}
.dots{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.dots h4{
  font-weight: 700;
  font-size: 4rem;
  text-shadow: 1px 1px 1px #ffee80,1px 2px 1px #ffee80,
                1px 3px 1px #ffee80,1px 4px 1px #ffee80,
                1px 6px 6px rgba(16,16,16,0.4);
  text-transform: none;
}
.dots .flex span{
  font-weight: bolder;
  font-size: 3rem;
  text-align: left;
  color: #130f40;
  text-transform: none;
}
.dots p{
  font-size: 2rem;
  text-transform: none;
  text-align: justify;
}
.dots .flex{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.dots .flex .flexgap{
  width: 475px;
}
.dots .flex a{
  color: #228B22;
  font-size: 3rem;
}
.dots .flex a:hover{
  color: #228B22;
  cursor: pointer;
}
.dots .flex i{
  color: #228B22;
}
.changediv{
  display: none;
  margin-top: -540px;
}
.changediv li{
  color: white;
  margin: 12rem;
  margin-left: 550px;
}

/* .changediv li #slick-slide-control00{
  color:#f9d806;
} */

/* .changediv .slick-active{
  margin-left: 550px;
  margin-top: -200px;
  width: 50px;
  height: 150px;
} */
#slick-slide-control00{
  display: none;
}
#slick-slide-control01{
  display: none;
}
#slick-slide-control02{
  display: none;
}
#slick-slide-control12{
  display: none;
}
#slick-slide-control10{
  display: none;
}
#slick-slide-control11{
  display: none;
}
#slick-slide-control22{
  display: none;
}
#slick-slide-control21{
  display: none;
}
#slick-slide-control20{
  display: none;
}
.changediv li.slick-active{
  background-color: #228B22;
  /* margin-left: 550px;
  /* margin-top: -380px; */
  width: 16px;
  height: 100px;
}






