<!-- 
Description:This component is used for showing the order is confirmed
Title:EV Mart
Author name: Jeeva Aravinth J V
Started on: 06-07-2023
Reviewed by: Nil
-->

<!----------------- Orderplaced  ---------------->
<div class="redirectorder" *ngIf="orderPlaced">
  <div class="flex">
    <div> <img src="../../assets/EV mart/Tick.png" alt="Confirmed" title="Confirmed"></div>
    <div>
      <h3>Your Order Placed Successfully</h3>
    </div>
    <div>
      <p>We look forward to seeing you at the all new EV Mart center. It will redirecting you to the productpage in few
        seconds.......</p>
    </div>
  </div>
</div>
<!----------------- Orderplaced  ---------------->