<!-- 
Description:This component describes about the website and ownership of the website.
Title:EV Mart
Author name: Jeeva Aravinth J V
Started on: 26-06-2023
Reviewed by: Nil
-->
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <!----------------- Display the EV Mart passion and purpose ----------------->
  <div class="main">
    <div class="heading">
    <p>At EV MART, it is all about passion and purpose.</p>
  </div>
  <div class="icon">
    <i class="fa-solid fa-plug"></i>
  </div>
  </div>
  <div class="content">
   <div>
    <div class="color"></div>
    <div>
    <p>The automobile industry is in the midst of a huge technological disruption. Today, electric is the preferred choice because of its inherent efficiency that will shape urban commute and the cities of tomorrow. In parallel, the world around us is getting connected, enabling integration of devices and making our life experiences seamless. Intelligent vehicles will revolutionize our commute experience in the future and the EV MART service stands at the cusp of this exciting reality.</p>
  </div>
  </div>
  <div class="collage">
    <img src="../../assets/EV mart/collage.jpg" alt="Collage">
  </div>
</div>
<!----------------- Display the EV Mart passion and purpose ----------------->

<!----------------- Display the Electric vehicle evolution ----------------->
<div class="setVideo">
  <div class="topic">
    <h2>Evolution of Electric Vehicles</h2>
  </div>
  <div class="video">
    <video src="../../assets/EV mart/aboutusvideo.mp4" autoplay loop></video>
  </div>
</div>
<!----------------- Display the Electric vehicle evolution ----------------->

<!----------------- Display the Ownership of vehicle ----------------->
<div class="leadership">
  <div>
    <img src="../../assets/EV mart/Jeeva.jpg" alt="Leader" title="Jeeva Aravinth J V">
  </div>
  <div class="leaderflex">
    <div><p>EV MART Leadership</p></div>
    <!-- <div class="color"></div> -->
    <div><h3>Jeeva Aravinth J V</h3></div>
    <div class="aboutleader">
      <q>I believe that the future of transport is electric.</q>
      <p>Besides strengthening EV MART's overall procurement strategy and the supplier management function, he loves to travel, and hardly misses a cricket match.</p>
    </div>
  </div>
</div>
<!----------------- Display the Ownership of vehicle ----------------->

<!----------------- Display the glimpse about website ----------------->
<div class="aboutservices">
    <div>
      <h1>It's a long-term</h1>
      <h1>relationship</h1>
      <p>Service? Maintenance? Post-sale queries? Bring it on.</p>
    </div>
    <div class="serviceimg">
      <div class="firstimg">
        <div><img src="../../assets/EV mart/Batteryswapping.jpg" alt="Batteryswapping" title="EV MART Services"></div>
        <div><h4>Service & Maintenance</h4></div>
        <div><h6>Post sales care and maintenance of your</h6></div>
        <div><h6>Vehicle</h6></div>
      </div>
      <div class="firstimg">
        <div><img src="../../assets/EV mart/exchangeabout.jpg" alt="Exchangeabout" title="Exchange"></div>
        <div><h4>Exchange offers</h4></div>
        <div><h6>Exchange your petrol vehicles to Electic trend </h6></div>
        <div><h6></h6></div>
      </div>
    </div>
</div>
<!----------------- Display the glimpse about website ----------------->

</body>
