<!--
Description:This component is used for showing Terms and Conditions for EV Mart
Title:EV Mart
Author name: Jeeva Aravinth J V
Started on: 02-07-2023
Reviewed by: Nil
-->
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Terms & Conditions</title>
</head>

<!-- terms and conditions -->
<div class="terms">
    <div class="main-header">
      <h1>EV Mart - Terms and Conditions</h1>
    </div>
    <div class="back">
      <a (click)="backToProduct()"><i class="fa-solid fa-arrow-left"></i>&nbsp;&nbsp;Back to Homepage</a>
    </div>
    <div class="contents">
      <div>
      <h1>1. Acceptance of Terms</h1>
      <p>By accessing or using the Website, the User agrees to be bound by these Terms and Conditions. If the User does not agree with any part of this Agreement, they should refrain from using the Website.</p>
    </div>
    <div>
      <h1>2. Website Use</h1>
      <p>The User agrees to use the Website in compliance with applicable laws and regulations. EV Mart reserves the right to modify, suspend, or discontinue the Website at any time without prior notice.</p>
    </div>
    <div>
      <h1>3. Product Information</h1>
      <p>While EV Mart strives to provide accurate and up-to-date information on the Website, it does not warrant the completeness or accuracy of product descriptions, prices, or any other content. The User should verify details with the respective manufacturers or sellers.</p>
    </div>
    <div>
      <h1>4. User Account</h1>
      <p>To access certain features of the Website, the User may need to create a user account. The User is responsible for maintaining the confidentiality of their account information and agrees to notify EV Mart immediately of any unauthorized use of their account.</p>
    </div>
    <div>
      <h1>5. Orders and Purchases</h1>
      <p>The purchase of products through the Website is subject to additional terms and conditions outlined in the Purchase Agreement provided at the time of purchase.</p>
    </div>
    <div>
      <h1>6. Privacy Policy</h1>
      <p>The collection and use of personal information by EV Mart are governed by the Privacy Policy, which is incorporated by reference into this Agreement.</p>
    </div>
    <div>
      <h1>7. Intellectual Property</h1>
      <p>All content, trademarks, logos, and intellectual property on the Website are owned by or licensed to EV Mart. The User may not use, reproduce, or distribute any content from the Website without the express consent of EV Mart.</p>
    </div>
    <div>
      <h1>8. Limitation of Liability</h1>
      <p>EV Mart shall not be liable for any direct, indirect, incidental, special, or consequential damages arising out of the use or inability to use the Website.</p>
    </div>
    <div>
      <h1>9. Governing Law</h1>
      <p>This Agreement is governed by the laws of India. Any legal action or proceeding related to this Agreement shall be brought exclusively in the courts of India.</p>
    </div>
    <div>
      <h1>10. Changes to Terms and Conditions</h1>
      <p>EV Mart reserves the right to modify or update these Terms and Conditions at any time. The User is responsible for regularly reviewing this Agreement for any changes.</p>
    </div>
    </div>
</div>
<!-- terms and conditions -->
