<!-- 
Description:This component is used for showing the types of EV.
Title:EV Mart
Author name: Jeeva Aravinth J V
Started on: 29-06-2023
Reviewed by: Nil
-->
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Information</title>
</head>
<body>
  <!----------------- heading  ----------------->
  <div class="main">
    <div>
      <h2>Types of Electric Vehicles</h2>
    </div>
    <div>

    </div>
  </div>
   <!----------------- heading  ----------------->

    <!----------------- types of electric vehicles  ----------------->
  <div class="intro">
    <p>There are four types of electric vehicles available:</p>
  </div>
  <div class="list">
    <ul>
      <li><b>&bullet;&nbsp;Battery Electric Vehicle (BEV):</b> Powered by electricity. These are more efficient compared to hybrid and plug-in hybrids.</li>
      <li><b>&bullet;&nbsp;Hybrid Electric Vehicle:</b>
      </li>
      <ol>
        <li>1. Hybrid Electric Vehicle (HEV): The vehicle uses both the internal combustion (usually petrol) engine and the battery-powered motor powertrain. The petrol engine is used both to drive and charge when the battery is empty. These vehicles are not as efficient as fully electric or plug-in hybrid vehicles.</li>
        <li>2. Plug-in Hybrid Electric Vehicle (PHEV): Uses both an internal combustion engine and a battery charged from an external socket (they have a plug). This means the vehicle’s battery can be charged with electricity rather than the engine. PHEVs are more efficient than HEVs but less efficient than BEVs.</li>
      </ol>
      <li><b>&bullet;&nbsp; Fuel Cell Electric Vehicle (FCEV):</b>Electric energy is produced from chemical energy. For example, a hydrogen FCEV.</li>
    </ul>
  </div>
  <div class="intro">
    <p>System Architecture of 4 types of electric cars is as follows:</p>
  </div>
  <div class="typesflex">
    <div><img src="../../assets/EV mart/battery-evs.png" alt="battery Architecture" title="battery Architecture"></div>
    <div><img src="../../assets/EV mart/hybrid-evs.png" alt="Hybrid Architecture" title="Hybrid Architecture"></div>
    <div><img src="../../assets/EV mart/plugin-hybdid-evs.png" alt="Plugin Architecture" title="Plugin Architecture"></div>
    <div><img src="../../assets/EV mart/fuelevs.png" alt="Fuel Architecture" title="Fuel Architecture"></div>
  </div>
  <div class="cost">
  <div>
    <div class="benefithead">
    <div class="design"></div><h3>Battery Electric Vehicles (BEVs)</h3>
  </div>
    <p>BEVs are also known as All-Electric Vehicles (AEV). Electric Vehicles using BEV technology run entirely on a battery-powered electric drivetrain. The electricity used to drive the vehicle is stored in a large battery pack which can be charged by plugging into the electricity grid. The charged battery pack then provides power to one or more electric motors to run the electric car. </p>
    <h1><b>Main Components of BEV:</b></h1>
    <p>Electric motor, Inverter, Battery, Control Module, Drive train</p>
    <h1><b>Working Principles of BEV:</b></h1>
    <p>The power for the electric motor is converted from the DC Battery to AC. As the accelerator is pressed, a signal is sent to the controller. The controller adjusts the speed of the vehicle by changing the frequency of the AC power from the inverter to the motor. The motor then connects and leads to the turning of wheels through a cog. If the brakes are pressed, or the electric car is decelerating, the motor becomes an alternator and produces power, which is sent back to the battery</p>
    <h1><b>Examples of BEV:</b></h1>
    <p>MG ZS, TATA Nexon, TATA Tigor, Mahindra E20 plus, Hyundai Kona, Mahindra Verito</p>
  </div>
  <div>
    <img src="../../assets/EV mart/battery-evs (1).png" alt="battery-evs" title="battery-evs">
  </div>
  </div>
  <div class="cost">
    <div>
      <div class="benefithead">
      <div class="design"></div><h3>Hybrid Electric Vehicle (HEV)</h3>
    </div>
      <p>HEVs are also known as series hybrid or parallel hybrid. HEVs have both engine and electric motor. The engine gets energy from fuel, and the motor gets electricity from batteries. The transmission is rotated simultaneously by both engine and electric motor. This then drives the wheels.</p>
      <h1><b>Main Components of HEV:</b></h1>
      <p>Engine, Electric motor, Battery pack with controller & inverter, Fuel tank, Control module</p>
      <h1><b>Working Principles of HEV:</b></h1>
      <p>The fuel tank supplies energy to the engine like a regular car. The batteries run on an electric motor. Both the engine and electric motor can turn the transmission at the same time.</p>
      <h1><b>Examples of HEV:</b></h1>
      <p>Engine, Electric motor, Battery pack with controller & inverter, Fuel tank, Control module</p>
    </div>
    <div>
      <img src="../../assets/EV mart/hybrid-evs.png" alt="hybrid-evs" title="hybrid-evs">
    </div>
    </div>
    <div class="cost">
      <div>
        <div class="benefithead">
        <div class="design"></div><h3>Plug-in Hybrid Electric Vehicle (PHEV)</h3>
      </div>
        <p>The PHEVs are also known as series hybrids. They have both engine and a motor. You can choose among the fuels, conventional fuel (such as petrol) or alternative fuel (such as bio-diesel). It can also be powered by a rechargeable battery pack. The battery can be charged externally.</p>
        <h1><b>Main Components of PHEV:</b></h1>
        <p>Electric motor, Engine, Inverter, Battery, Fuel tank, Control module, Battery Charger (if onboard model)</p>
        <h1><b>Working Principles of PHEV:</b></h1>
        <p>PHEVs start-up in all-electric mode and make use of electricity until their battery pack is depleted. Once the battery gets drained, the engine takes over, and the vehicle operates as a conventional, non-plug-in hybrid. PHEVs can be charged by plugging into an outside electric power source, engine, or regenerative braking. When brakes are applied, the electric motor acts as a generator, using the energy to charge the battery. The engine’s power is supplemented by the electric motor; as a result, smaller engines can be used, increasing the car’s fuel efficiency without compromising performance.</p>
        <h1><b>Examples of PHEV:</b></h1>
        <p>Porsche Cayenne S E-Hybrid, BMW 330e, Porsche Panamera S E-hybrid, Chevy Volt, Chrysler Pacifica, Ford C-Max Energi, Mercedes C350e, Mercedes S550e, Mercedes GLE550e, Mini Cooper SE Countryman, Ford Fusion Energi, Audi A3 E-Tron, BMW i8, BMW X5 xdrive40e, Fiat 500e, Hyundai Sonata, Kia Optima, Volvo XC90 T8.</p>
      </div>
      <div>
        <img src="../../assets/EV mart/plugin-hybdid-evs.png" alt="phybrid-evs" title="phybrid-evs">
      </div>
      </div>
      <div class="cost">
        <div>
          <div class="benefithead">
          <div class="design"></div><h3>Fuel Cell Electric Vehicle(FCEV)</h3>
        </div>
          <p>FCEVs are also known as Zero-Emission Vehicles. They employ ‘fuel cell technology’ to generate the electricity required to run the vehicle. The chemical energy of the fuel is converted directly into electric energy</p>
          <h1><b>Main Components of FCEV:</b></h1>
          <p>Electric motor, Fuel-cell stack, Hydrogen storage tank, battery with converter and controller</p>
          <h1><b>Working Principles of FCEV:</b></h1>
          <p>The FCEV generates the electricity required to run this vehicle on the vehicle itself.</p>
          <h1><b>Examples of FCEV:</b></h1>
          <p>Toyota Mirai, Riversimple Rasa, Hyundai Tucson FCEV, Honda Clarity Fuel Cell, Hyundai Nexo.</p>
        </div>
        <div>
          <img src="../../assets/EV mart/fuelevs.png" alt="Fuel-evs" title="Fuel-evs">
        </div>
        </div>
        <div class="foot">
        </div>
        <!----------------- types of electric vehicles  ----------------->
</body>
