<div class="graph-container">
<div style="text-align:center">
  <div class="graph">
  <h1>Vehicle Order Statistics</h1>
  <apx-chart
    [series]="chartOptions.series!"
    [chart]="chartOptions.chart!"
    [xaxis]="chartOptions.xaxis!"
    [title]="chartOptions.title!"
  ></apx-chart>
</div>
<div class="graph">
  <h1>Service Statistics</h1>
  <apx-chart
    [series]="chartOptions1.series!"
    [chart]="chartOptions1.chart!"
    [labels]="chartOptions1.labels"
    [responsive]="chartOptions1.responsive!"
  ></apx-chart>
</div>
</div>
<div style="text-align:center">

</div>
</div>
