@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
:root{
    --yellow:#f9d806;
    --light-yellow:#ffee80;
    --black:#130f40;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
    --platinum:#E5E4E2;
}
*{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform:uppercase;
    transition: all .2s linear;
}
.book{
    display: inline-block;
    margin-top: 1rem;
    background: #ffee80;
    color:#130f40;
    font-weight: 500;
    font-size: 1.7rem;
    cursor: pointer;
    padding: 1rem 1.5rem;
}
.book1{
  display: inline-block;
  margin-top: 1rem;
  background: #ffee80;
  color:#130f40;
  font-weight: 500;
  font-size: 1.7rem;
  cursor: pointer;
  padding: 1rem 2rem;
}
html{
    font-size: 60%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
.main img{
  width: 100%;
  height: 100vh;
  opacity: 0.6;
}
.main{
  position: relative;
}
.search{
  position: absolute;
  top: 45%;
  left: 15%;
}
.search input{
  padding: 1.5rem;
  width: 500px;
  font-size: 1.5rem;
  text-transform: none;
}
.search h1{
  font-size: 4.5rem;
  color: #130f40;
  padding-bottom: 4rem;
}
.search input::placeholder{
  font-size: 1.5rem;
  text-transform: none;
}
.searchresults{
  width: 40%;
  background-color: #E5E4E2;
  position: absolute;
  top: 78%;
  left: 15%;
  z-index: 1;
  padding: 1rem;
  line-height: 2rem;
}
.searchresults h3{
  text-transform: none;
}
.searchresults ol{
  padding-left: 2rem;
}
.searchresults ol li:hover{
  border-bottom: 2px solid #6F8FAF;
}
.searchresults li{
  text-transform: none;
  font-size: 1.5rem;
  text-align: justify;
  padding: 1rem;
  cursor: pointer;
}
.searchresults #questiondisplay{
  color: #0047AB;
}
.articles-results{
  display: flex;
  justify-content: center;
}
.heading h1{
  font-size: 3rem;
  color: #130f40;
  text-transform: none;
  padding: 5.5rem 0 1.5rem 15rem;
}
.faq{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.questions{
  padding: 1rem;
}
.answers{
  display: flex;
  width: 100rem;
  cursor: pointer;
  justify-content: space-between;
  /* background-color: #E5E4E2; */
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  border-bottom: 2px solid black;
}
.answers h2{
  text-transform: none;
  font-size: 2rem;
}
.answers i{
  font-size: 2rem;
  color: #130f40;
}
.content-answer{
  display: flex;
  justify-content: center;
  animation: animation 100ms ease-in-out;
  transform-origin: top;
}
@keyframes animation {
  0%{
    transform: scaleX(0);
  }
  100%{
    transform: scaleX(1);
  }
}
.content-answer p{
  text-transform: none;
  font-size: 1.5rem;
  width: 90rem;
  text-align: justify;
}
.question-para{
  display: flex;
  flex-direction: column;
}
.foot{
  width: 100%;
  height: 80px;
  background-color: #E5E4E2;
}
.help-submit{
  display: flex;
  gap:2rem;
  flex-direction: row;
}
small{
  color: red;
  text-transform: none;
  font-size:1.8rem;
}

