<!-- 
Description:The navbar is used here as common throughout the website.
Title:EV Mart
Author name: Jeeva Aravinth J V
Started on: 25-03-2023
Reviewed by: Nil
-->

<!------------ navbar Component -------------->
<ng-container *ngIf="navopen1">
<app-navbar></app-navbar>
</ng-container>
<!------------ navbar Component -------------->

<!------------ Routing components -------------->
<router-outlet></router-outlet>
<!------------ Routing components -------------->

<!------------ Footer Components -------------->
<app-footer></app-footer>
<!------------ Footer components -------------->
