<!--
Description:The navbar is used here as common throughout the website.
Title:EV Mart
Author name: Jeeva Aravinth J V
Started on: 25-03-2023
Reviewed by: Nil
-->
<!-- Loader -->
<div class="loader" *ngIf="loading">
  <img src="../assets/EV mart/loader-animation.gif" alt="">
  <h2>Loading...</h2>
</div>
<!-- Loader -->

<!------------ navbar Component -------------->
<ng-container *ngIf="navopen1">
<app-navbar></app-navbar>
</ng-container>
<!------------ navbar Component -------------->

<!------------ Routing components -------------->
<div class="content">
  <span style="color:white;display:none">{{title}}</span>
</div>
<router-outlet></router-outlet>
<!------------ Routing components -------------->

<!------------ Footer Components -------------->
<app-footer *ngIf="footerClose"></app-footer>
<!------------ Footer components -------------->
