<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Book Appointment</title>
</head>
<body>
  <div class="grid">
    <div class="flex">
     <div> <img src="../../assets/EV mart/Tick.png" alt="Confirmed" title="Confirmed"></div>
      <div><h3>Your booking is confirmed</h3></div>
      <div><p>We look forward to seeing you at the all new EV Mart center. It will redirecting you to the Homepage in few seconds.......</p></div>
    </div>
  </div>
</body>
