@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
:root{
    --yellow:#f9d806;
    --light-yellow:#ffee80;
    --black:#130f40;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
}
*{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform:capitalize;
    transition: all .2s linear;
}
.book{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #ffee80;
    color:#130f40;
    font-weight: 500;
    font-size: 1.7rem;
    cursor: pointer;
    padding: 1rem 2rem; 
}
html{
    font-size: 60%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
.main{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap:1rem;
}
.main .pastordershown p{
  font-size: 2rem;
  color: #130f40;
}
.main img{
  width: 350px;
  height: 250px;
}
.head h1{
  font-size: 3rem;
  text-transform: none;
  color: #130f40;
}
.details{
  font-size: 2rem;
  color: black;
  text-transform: none;
  width: 400px;
}
.details .varient{
  font-size: 3rem;
  color: #130f40;
}
.details .small{
  font-size: 1.5rem;
  color: red;
  text-transform: none;
}
.details p{
  font-size: 2rem;
}
.orderprofile{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  flex-direction: column;
}
.orderprofile p{
  font-size: 2.5rem;
  color: #130f40;
  text-transform: none;
}
.inside-showorder{
  display: flex;
  flex-direction: row;
  gap:10rem;
  align-items: center;
  padding-left: 3rem;
}
.inside-showorder:hover{
  box-shadow: 0 4rem 4rem rgba(0,0,0,0.1);
  cursor: pointer;
}
.inside-showorder i{  
  color: #ff0000;
  font-size: 1.5rem;
}
.inside-showorder .delivered{
  font-size: 1.5rem;
  text-transform: none;
  color: black;
}
.pastordershown{
  font-size: 5rem;
  display: flex;
  justify-content: center;
  color: #130f40;
}
.view-more{
  display: flex;
  justify-content: center;
}
.delivered p{
  font-size: 2.5rem;
  text-transform: none;
}
.delivered i{
  color: red;
  font-size: 2.5rem;
}
.rightBar p{
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #130f40;
  border-bottom: 4px solid #ffee80;
  width: 55%;
  margin: 3rem 0 0 3rem;
}
.rightBar form label{
  font-size: 1.8rem;
  margin: 3rem 0 0 3rem;
  color: #130f40;
}
.evMartbtnupd{
  margin: 3rem 5rem 0 14rem ;
  padding: 1.5rem;
  font-size: 1.6rem;
  background: #000000;
  color: #fff;
  cursor: pointer;
}
.rightBar small{
  margin: 1rem 0 0 3rem;
}
.sideBar .active{
  background-color: #fff;
  color: #000000;
  padding: 1.5rem 3.5rem 1.5rem 3.5rem;
}
.sideBar a{
  text-decoration: none;
  color: #130f40;
}
.outer{
  padding: 2rem;
  border: .1rem solid rgba(0,0,0,.1);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
  margin: 2rem 15rem 2rem 15rem;
  background-color:#fff;
}
.addressinput textarea{
  resize:none;
}
.rightBar button:disabled,button[disabled]{
  border: 1px solid black;
  background-color: grey;
  color: white;
  cursor: not-allowed;
}
.newaddress h5{
  color:#130f40;
  font-size: 1.5rem;
  text-align: justify;
  text-transform: none;
}
.orderViewDetails{
  display: flex;
  flex-direction: column;
  gap: 0;
}
.orderViewDetails h1{
  font-size: 1.5rem;
  color: #130f40;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 2.5rem 0 0 2.5rem;
}
.order-location{
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
}
.orderViewDetails i{
  color: #130f40;
  font-size: 2.5rem;
}
.order-location .fa-solid.fa-check{
  color: green;
}
.order-products{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 2px solid black;
  margin: 0 2rem 0.5rem 2rem ;
}
.orderViewDetails h1{
  font-size: 2rem;
  color: black;
}
.order-products h2{
  padding: 1rem 0 1rem 0;
  font-size: 1.8rem;
  text-transform: none;
}
.order-productsdetails{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 2rem 1rem 2rem ;
}
.order-productsdetails h2{
  padding: 1rem 0 1rem 0;
  font-size: 1.8rem;
  text-transform: none;
}
.spec{
  border-bottom: 3px solid yellow;
}
.order-details p{
  padding: 1rem 0 1rem 3rem;
}
.print-bill{
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.print-bill button{
  width: 90%;
  background-color: #000000;
  color: #fff;
  padding: 1rem 0 1rem 0;
  font-size: 2rem;
  margin-bottom: 10rem;
}
.order-location h4{
  font-size: 1.8rem;
  text-transform: none;
}
.order-location .address-show{
  font-size: 1.5rem;
}
.order-finaldetails{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 2rem 10rem 2rem ;
}
.order-finaldetails h2{
  padding: 1rem 0 1rem 0;
  font-size: 1.8rem;
  text-transform: none;
}
.evMartdisplay{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0 1rem 0 1rem;
}
.sideBar{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: wrap;
  background: lightblue;
  padding: 2rem 4rem 2rem 4rem;
  font-size: 2rem;
  height: 70vh;
  width: 17%;
}
.sideBar a{
  padding: 1.5rem;
  cursor: pointer;
}
.sideDisplay{
  padding: 1rem;
  width: 80%;
  background-color: #fff;
}
.relative{
  position: relative;
}
.evMarteditprofile{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background:rgba(6, 76, 240,0.233);
  animation: showsidebar 400ms ease-in-out;
  transform-origin: right;
}
@keyframes showsidebar {
  from{
    transform: scaleX(0);
  }
  to{
    transform: scaleX(1);
  }
}
.rightBar{
  width: 30%;
  height: 111vh;
  background: #fff;
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: scroll;
  min-height: 100vh;
}
.rightBar i{
  font-size: 3rem;
  color: #130f40;
  padding: 3rem 0 3rem 3rem;
  cursor: pointer;
}
.box{
  margin: 1rem 0 0 3rem;
  width: 75%;
  text-transform: none;
  color: #130f40;
  font-size: 1.6rem;
  padding: 1rem 1.2rem;
  border:.3rem solid rgba(0,0,0,.1);
  border-radius: .5rem;
}
.box1{
  margin: 1rem 0 0 3rem;
  width: 75%;
  text-transform: none;
  color: #130f40;
  font-size: 1.6rem;
  padding: 1rem 1.2rem;
  border:.3rem solid rgba(0,0,0,.1);
  border-radius: .5rem;
}
#back-arrow{
  color: black;
  padding: 2rem;
  border-radius: 50%;
  font-size: 2rem;
  margin: 5rem 0 1rem 5rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
}
.details a{
  color: green;
}