@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
:root{
    --yellow:#f9d806;
    --light-yellow:#ffee80;
    --black:#130f40;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
    --platinum:#E5E4E2;
}
*{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform:uppercase;
    transition: all .2s linear;
}
.book{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #ffee80;
    color:#130f40;
    font-weight: 500;
    font-size: 1.7rem;
    cursor: pointer;
    padding: 1rem 2rem;
}
html{
    font-size: 60%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
.main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 10rem 0 10rem;
  width: 100%;
  height: 120px;
  background:url('../../assets/EV mart/repeating-triangles.png');
  background-position: center;
  background-size: cover;
}
.main h2{
  color: darkgreen;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: bolder;
}
.intro p{
  text-align: justify;
  font-size: 2rem;
  text-transform: none;
  padding: 1.5rem 10rem 1.5rem 10rem;
  line-height: 3rem;
}
.cost{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5rem;
  padding: 3rem 10rem 3rem 10rem;
}
.cost img{
  width: 500px;
  height: 400px;
}
.cost h3{
  font-size: 3rem;
  color: var(--black);
  text-transform: none;
}
.cost p{
  font-size: 1.6rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: none;
  text-align: justify;
  width: 655px;
  line-height: 3.5rem;
  padding-top:1.5rem;
}
.design{
  width: 100px;
  height: 06px;
  background: #130f40;
}
.benefithead{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.foot{
  width: 100%;
  height: 80px;
  background-color: #E5E4E2;
}
.fact{
  background: #E5E4E2;
  padding: 0 2rem 0 2rem;
  width: 700px;
  cursor: pointer;
}
.factpara{
  text-align: justify;
  width: 500px;
  animation: text 500ms ease-in-out;
  transform-origin: top;
}
@keyframes text {
  from{
    transform: scaleY(0);
  }
  to{
    transform: scaleY(1);
  }
}
.fact b{
  text-transform: none;
  font-family: 'poppins', sans-serif;
}
.fact i{
  color: darkgreen;
  float: right;
  font-size: 2.5rem;
}
