<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Book Appointment</title>
  </head>
  <body>
    <section class="appoint">
        <div>
          <img src="../../assets/EV mart/Video tag.gif" alt="Exchange" class="videoimg">
        </div>
        <div class="form">
          <div><img src="../../assets/image/EV-removebg.png" alt="Logo"></div>
          <div>
          <h3>EV Mart centre</h3>
          <p>Just book the appointment to visit the EV Mart centre</p>
          <div class="bookappoint">
          <form>
            <div class="pin">
              <input type="text" class="boxing">
              <span class="code">+91</span>
          <input type="text" placeholder="Phone Number" class="box">
        </div>
        <div>
          <input type="text" placeholder="Name" class="box2">
        </div>
          <div class="formflex">
         <div> <input type="text" placeholder="Date of Visit" class="box1"></div>
         <div> <input type="text" placeholder="Select time slot" class="box1"></div>
        </div>
        <div class="formflex">
          <div> <input type="text" placeholder="City" class="box1"></div>
          <div> <input type="text" placeholder="EV Mart center" class="box1"></div>
         </div>
         <button class="button">Confirm Booking</button>
        </form>
      </div>
    </div>
        </div>
    </section>
  </body>
</html>


