<!-- 
Description:This component is used for book for the old vehicle exchange with electric vehicle
Title:EV Mart
Author name: Jeeva Aravinth J V
Started on: 19-04-2023
Reviewed by: Nil
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Book Appointment</title>
</head>

<body>
  <!------------- Check the Pincode for the availability of center ------------>
  <section class="appoint">
    <div>
      <img src="../../assets/EV mart/Video tag.gif" alt="Exchange" class="videoimg">
    </div>
    <form class="pin-code" [formGroup]="Pincode" (ngSubmit)="Pincode.valid && getPincode()">
      <a routerLink="/offers"><i class="fa-solid fa-arrow-left"></i></a>
      <div>
        <h2>Enter your Pincode</h2>
      </div>
      <div>
        <p>Please enter your PIN code as per your registration address proof and check whether online exchange is
          available at your doorsteps.</p>
      </div>
      <div>
        <input type="tel" placeholder="Pincode" class="box" formControlName="Pincode" maxlength="6" #pincode
          (keyup)="searchPincode(pincode.value)">
        <div></div>
        <small *ngIf="Pincode.controls['Pincode'].errors?.['required'] && Pincode.controls['Pincode'].dirty">Pincode is
          required</small>
        <small *ngIf="Pincode.controls['Pincode'].errors?.['pattern']">Enter Proper Pincode</small>
        <small class="show-pin">{{showPin}}</small>
      </div>
      <div class="button">
        <button class="submit-pincode" [disabled]="!Pincode.valid">Proceed</button>
      </div>
    </form>
  </section>
  <!------------- Check the Pincode for the availability of center ------------>
</body>

</html>