<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<!--Featured vehicles-->
<section class="services" id="services">
  <h1 class="heading">featured <span>vehicle's Brand</span></h1>
  <div class="box-container" >
      <div class="box" *ngFor="let vehicle of vehdetails">
          <h3>{{vehicle.Brandname}}</h3>
          <img src="{{vehicle.image}}" alt="">
          <p>{{vehicle.content}}</p>
        <a routerLink="/orderpage"> <button class="book">View Varients</button></a>
      </div>
  </div>
</section>
<!--Featured vehicles-->
<app-footer></app-footer>
