<div class="background" >
  <div class="login-form">
    <form [formGroup]="register" (ngSubmit)="register.valid" class="regform">
      <button class="fa-solid fa-circle-xmark fa-beat" id="close"></button>
      <h3>Create new account</h3>
      <div class="control">
        <input type="email" placeholder="email" class="box" name="email" id="email" formControlName="regemail" >
        <div *ngIf="(register.controls['regemail'].invalid && register.controls['regemail'].touched || register.controls['regemail'].dirty)"></div>
        <small *ngIf="register.controls['regemail'].errors?.['required'] && register.controls['regemail'].dirty">Please enter mail ID</small>
        <small *ngIf="register.controls['regemail'].errors?.['pattern']">Please provide provide mail ID</small>
      </div>
      <div class="control">
        <input type="text" placeholder="Username" class="box" name="username" id="username" formControlName="reguser">
        <div *ngIf="(register.controls['reguser'].invalid && register.controls['reguser'].touched || register.controls['reguser'].dirty)"></div>
        <small *ngIf="register.controls['reguser'].errors?.['required'] && register.controls['reguser'].dirty">Please enter username</small>
        <small *ngIf="register.controls['reguser'].errors?.['pattern']">Provide proper username(Don't start with number) </small>

      </div>
      <div class="control">
        <input type="password" placeholder="password" class="box" name="password" id="password" formControlName="regpass" #password>
        <div *ngIf="(register.controls['regpass'].invalid && register.controls['regpass'].touched || register.controls['regpass'].dirty)"></div>
        <small *ngIf="register.controls['regpass'].errors?.['required'] && register.controls['regpass'].dirty">Please enter password</small>
        <small *ngIf="register.controls['regpass'].errors?.['pattern']">password is not strong enough </small>
        <div>
        </div>
      </div>
      <div class="control">
        <input type="password" placeholder="Confirm password" class="box" name="confirm_password" id="confirm_password" formControlName="regconfirm" #confirm >
        <div *ngIf="(register.controls['regconfirm'].invalid && register.controls['regconfirm'].touched || register.controls['regconfirm'].dirty)"></div>
        <!-- <small *ngIf="!register.controls['regconfirm'].dirty">{{error}}</small> -->
        <small *ngIf="register.controls['regconfirm'].errors?.['required'] && register.controls['regconfirm'].dirty">Please enter confirm password</small>
        <div>
          <!-- <i class="fa fa-eye-slash" id="togglePassword1"></i> -->
        </div>
      </div>
      <button type="submit" class="book">Register now</button>
      <p id="text"><span id="span">Have</span> an account?<span id="span1"><a href="#" id="span1" class="link"
            >Sign-in</a></span></p>

    </form>
  </div>
</div>
