<!-- 
Description:This component is used for displaying the offers
Title:EV Mart
Author name: Jeeva Aravinth J V
Started on: 09-04-2023
Reviewed by: Nil
-->
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Offers</title>
</head>
<body>
  <!--------------- exchange offers heading --------------------->
  <section class="offimg">
    <div>
      <h1>EV MART EXCHANGE PROGRAM</h1>
    </div>
    <div>
    <img src="../../assets/EV mart/offers.jpeg" alt="Switch to electric" title="Switch to electric">
  </div>
  <div>
    <h1>Switch to Electric</h1>
  </div>
  </section>
  <!--------------- exchange offers heading --------------------->

    <!--------------- exchange offers and offered vehicles --------------------->
  <section class="displayoff">
    <div>
      <h1>Own the Vehicles with offers</h1>
    </div>
    <!-- <div class="limitedoffer" >
      <img src="../../assets/EV mart/Limitedoffers.png" alt="Limitedoffers" >
    </div> -->
    <div class="grid">
      <div class="exchange-offer">
      <div>
        <img src="../../assets/EV mart/offer2.webp" alt="EV Mart Exchange" title="EV Mart Exchange"></div>
       <div> <h4>Upgrade your ride - Get ₹2,000* as Exchange Bonus</h4></div>
       <div class="know"><a routerLink="/exchange">Know More<i class="fa-solid fa-motorcycle fa-shake"></i></a></div>
      </div>
      <div class="flex" *ngFor="let offers of offer; let h=index">

        <div class="badge">
        <img src="{{offers.img}}" alt="OLA" title="OLA">
      </div>
      <div>  <h4>{{offers.content}}</h4></div>
      <p class="validity">{{offers.validity}}</p>
      <p>{{offers.time}}</p>
      <div class="know"><a href="{{offers.link}}">{{offers.button}}<i class="fa-solid fa-arrow-right"></i></a></div>
      </div>
    </div>
  </section>
  <!--------------- exchange offers and offered vehicles --------------------->

  <!--------------- payment options --------------------->
  <section class="payment">
    <h1>Easy financing offers</h1>
    <div class="paygrid">
    <div class="payflex">
      <div id="first"><i class="fa-solid fa-indian-rupee-sign"></i><br><br><br><p>Own the Ola scooter for as low as ₹2499
        EMIs starting at ₹2499 per month</p></div>
      <div id="second"><i class="fa-solid fa-tags"></i><br><br><br><br><br><p>5% discount on credit card EMI of select banks</p></div>
    </div>
    <div class="payflex">
      <div id="first"><i class="fa-solid fa-hand-holding"></i><br><br><br><p>Zero down payment schemes</p></div>
      <div id="second"><i class="fa-solid fa-percent"></i><br><br><br><p>Zero worries with 0% processing fee
        Owning the Ola scooter is as easy as wanting it. Enjoy 0% processing fee on loans</p></div>
    </div>
    <div class="payflex">
      <div id="first"><i class="fa-solid fa-building-columns"></i><br><br><br><br><p>Zero worries with 0% processing fee
        Owning the Ola scooter is as easy as wanting it. Enjoy 0% processing fee on loans</p><br><br><br><br><br><br><br>
        <div class="imgflex"><div><img src="../../assets/EV mart/HDFC_Bank_Logo.jpg" alt="HDFC Logo" title="HDFC Logo"></div>
      <div><img src="../../assets/EV mart/axis bank.jpg" alt="Axis Bank" title="Axis Bank"></div>
    <div><img src="../../assets/EV mart/DBS-Bank-logo.png" alt="DBS Bank" title="DBS Bank"></div></div>
    </div>
    </div>
  </div>
  </section>
  <!--------------- payment options --------------------->

  <section class="displayslide" >

  </section>
</body>
<router-outlet></router-outlet>
